<div style="display:flex" >
    <div class="pan right" >
        <iframe src='https://my.spline.design/airplanecopy-16d81ce2b113baabe24a079b2528a562/' frameborder='0' width='100%' height='100%'></iframe>    
    </div>
    <div class="pan left" >
        <%= form_tag event_orders_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <h1> Paiement</h1>
          <label class="amount">
            <span> Assurance Annulation : Non</span> <br>
            <span> Hébergement : Offert</span>
            <div style="border-bottom: 1px solid grey; margin:15px 0px 15px 0px" >  </div>
            <span> Total : <%= @event.price%>€</span> <br>
          </label>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @event.title%>"
            data-amount="<%= @event.price * 100 %>"
            data-locale="auto">
        </script>
        <% end %>
    </div>
</div>