<div style="position:relative; margin-bottom:50px" >  
    <div class="title_bg" style="background: linear-gradient(253.34deg, rgba(211, 52, 166, 0.64) 8.91%, rgba(78, 223, 255, 0.63) 100%);">
     <h1> <%= @user.first_name%> <%= @user.last_name%></h1>
      <p> <i class="fa-solid fa-list-ul"></i> <%= @user.description%> </p>
      <p> <i class="fa-solid fa-address-book"></i> <%= @user.email%> </p>
            <% if current_user %>
         <a class="edit" style="color:black" href="<%= edit_user_registration_path(@user) %>" > <i class="fa-solid fa-pen"></i> Editer mon mot de passe</a>
      <% else %>
      <% end %>
    </div>
</div>

<h2 style="text-align:center; margin-bottom:35px; font-weight:800" > Les events de  <%= @user.first_name%> </h2>
<div class="row feed">
   <% @events.each do |event|%>
         <% if event.admin_id == @user.id %>
      <div class="card">
         <div class="cover">
               <img src="https://source.unsplash.com/200x200/?town?sig=<%=rand(1..10)%>" 
                alt="avatar">
         </div>
         <div class="card_body">
            <div>
                <h5 class="card-title"><%= event.title %></h5>
                <p class="date" > <%= event.start_date.strftime("%d %B %Y") %>  </p>
                <a class="edit" href="<%= event_path(event.id)%>" > <i class="fa-solid fa-arrow-right"></i> Détails </a>
            </div>
            <div>
                <p> <i class="fa-solid fa-clock"></i>   <%= event.duration %>h </p>
                <p> <i class="fa-solid fa-euro-sign"></i>  <%= event.price %> </p>
                <p> <i class="fa-solid fa-map-pin"></i>  <%= event.location %> </p>
            </div>
         </div>
      </div>
         <% end %>
   <% end %>
</div>